extends layout

block main
    h1 Your portfolio
    ul 
      each item in items
        h3= item.title 
        form.delete(action=`portfolios/1/items/${item.id}/destroy` method="post")
          button delete 

    form(action=`/portfolios/1/items` method="post")
      dl
        dt
          label(for="itemTitle") Enter a new item:
        dd
          input(type="text"
                name="itemTitle"
                placeholder="Something item"
                value=itemTitle)
      fieldset.actions
        button Add

    form(action=`/createwebhook` method="post")
      fieldset.actions 
      button Create Webhook 

    h2 Webhooks 
    ul 
      if webhooks.length > 0
        each webhook in webhooks 
          h3 
            a(href=`/payloads/${webhook.uuid}`)= webhook.uuid
          h5 Creation date:
            p= webhook.created_at 

    form(action=`/users/signout` method="post")
      fieldset.actions 
        button Logout