extends layout

block main
    h1 Your portfolio
    ul 
      each item in items
        li
          h3= item.title 
          form.delete(action=`portfolios/1/items/${item.id}/destroy` method="post")
            button.danger delete 
    form.add-item(action=`/portfolios/1/items` method="post")
      dl
        dt
          label(for="itemTitle") Enter a new item:
        dd
          input(type="text"
                name="itemTitle"
                placeholder="Something item"
                value=itemTitle)
          button.primary(type="submit") Add
    
    h2.webhook Webhooks
    form.create-webhook(action=`/createwebhook` method="post")
      fieldset.actions 
        button.primary Create Webhook 

     
    ul 
      if webhooks.length > 0
        each webhook in webhooks 
          h3.webhook-title 
            a(href=`/payloads/${webhook.uuid}`)= webhook.uuid
          h5.webhook-creation-date Creation date:
            p= webhook.created_at 

    form(action=`/users/signout` method="post")
      fieldset.actions 
        button.danger Logout